{{ if .IsHome -}}
  <script type="application/ld+json">
  [
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "@id": {{ site.Home.Permalink | safeURL }},
      "name": "{{ .Site.Title | safeJS }}",
      {{ with .Site.Params.description }}"description": "{{ . | safeJS }}",{{ end }}
      {{ with .Site.Language.Lang }}"inLanguage": "{{ . }}",{{ end }}
      "url": {{ site.Home.Permalink | safeURL }},
      "publisher": {
        "@type": "LocalBusiness",
        "name": "{{ .Site.Params.Author.name | safeJS }}"
      }
    },
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "@id": "{{ site.Home.Permalink }}#lokalbusiness",
      "name": "Paartherapie Heidelberg",
      "url": {{ site.Home.Permalink | safeURL }},
      "telephone": "+4915121209736",
      "email": "kontakt@heidelberg-paartherapie.de",
      {{ with .Site.Params.description }}"description": "{{ . | safeJS }}",{{ end }}
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "St.-Anna-Gasse 5",
        "postalCode": "69115",
        "addressLocality": "Heidelberg",
        "addressCountry": "DE"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 49.4034,
        "longitude": 8.6993
      },
      "areaServed": {
        "@type": "City",
        "name": "Heidelberg"
      },
      "priceRange": "€€€",
      "hasOfferCatalog": {
        "@type": "OfferCatalog",
        "name": "Therapieangebote",
        "itemListElement": [
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Paartherapie",
              "description": "Systemische Paartherapie in Heidelberg"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Einzeltherapie",
              "description": "Einzeltherapie in Heidelberg"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Sexualtherapie",
              "description": "Sexualtherapie in Heidelberg"
            }
          }
        ]
      }
    }
  ]
  </script>
{{ else }}
  {{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
  <script type="application/ld+json">
  [{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "{{ .Title | safeJS }}",
    "headline": "{{ .Title | safeJS }}",
    {{ with .Description }}"description": "{{ . | safeJS }}",{{ end }}
    {{ with .Site.Language.Lang }}"inLanguage": "{{ . }}",{{ end }}
    "url": {{ .Permalink }},
    "isPartOf": {
      "@type": "WebSite",
      "@id": {{ site.Home.Permalink | safeURL }}
    },
    {{ with .PublishDate }}"datePublished": "{{ .Format $iso8601 }}",{{ end }}
    {{ with .Lastmod }}"dateModified": "{{ .Format $iso8601 }}",{{ end }}
    "mainEntityOfPage": "true"
  }]
  </script>
{{ end }}
